@import "node_modules/bootstrap/dist/css/bootstrap.css";

:root {
  --netflix-red: #e50914;
  --netflix-dark-red: #b20710;
  --background-gray: #141414;
  --white: #fdfdfd;
  --icons-gray: #818181;
}

