.screen {
  background-color: var(--background-gray);
  color: var(--white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 20vh;
  border-radius: 6px;
}

.profileAdd {
  display: flex;
  justify-content: center;
}

.profileAddP {
  margin-top: 16px;
}

.iconMore {
  height: 192.52px;
  margin-top: 25px;
}

a {
  text-decoration: none;
}

h5 {
  color: var(--icons-gray);
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 6px;
  font-weight: bolder;
}

p {
  display: flex;
  justify-content: center;
  color: var(--icons-gray);
}

.hoverAnimation {
  transition: 0.2s all ease-in-out;
}

.hoverAnimation:hover {
  transform: scale(110%);
}

p {
  transition: 0.2 all ease-in-out;
}

.hoverAnimation:hover > h5 {
  color: var(--white);
}