<div class="container-fluid screen">
  <div class="mb-5">
    <h1>Quem está procurando ?</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col hoverAnimation d-flex flex-column justify-content-center mx-2">
      <a href="#" class="link">
        <img src="../../../assets/fotos-perfis/Mateus Suzuki.jpg" alt="Imagem Perfil" class="profile-picture">
      </a>
      <h5>Mateus Suzuki</h5>
      <p>Desenvolvedor</p>
    </div>
    <div class="col hoverAnimation d-flex flex-column justify-content-center mx-2">
      <a href="#">
        <img src="../../../assets/fotos-perfis/Felipe Alvarenga.jpg" alt="foto-perfil" class="profile-picture">
      </a>
      <h5>Felipe Alvarenga</h5>
      <p>Designer</p>
    </div>
    <div class="col hoverAnimation iconMore d-flex flex-column justify-content-center mx-2">
      <a href="#" class="profileAdd">
        <svg width="68" height="68" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg" class="margin">
          <circle cx="60" cy="60" r="60" fill="#818181"/>
          <rect x="24.2422" y="71.623" width="20.1047" height="71.5152" transform="rotate(-90 24.2422 71.623)" fill="#141414"/>
          <rect x="69.6973" y="98.6389" width="18" height="74.1361" transform="rotate(-180 69.6973 98.6389)" fill="#141414"/>
        </svg>
      </a>
      <p class="profileAddP">Adicionar Perfil</p>
    </div>
    
  </div>
</div>
